#calendar {
  border: 1px solid #bdbdbd;
  text-align: center;
  width: 50%;
  height: 300px;
  margin-top: 50px;
  margin-left: 400px;
}

#before {
  font-size: 11px;
  color: #b3b6b3;
  cursor: pointer;
}

#next {
  cursor: pointer;
  font-size: 11px;
  color: #b3b6b3;
}
